<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>UI Tester{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/media/main.css" media="screen" />
    <script type="text/javascript" src=""></script>
    <script type="text/javascript">
        var uitester = {};
    </script>
    {% block extraHead %}{% endblock %}
</head>
<body>
{% block main %}
    {% block content %}{% endblock %}
{% endblock %}
</body>
</html>

