{% extends "base_content.html" %}

{% block content %}
In this survey you will be shown a series of loading indicators. Once the loading indicator is finished, the word "Finished" will appear in place of the loading indicator. Below each sample, you will be asked to rate each loading indicator based on how long the wait time felt. Do not count the seconds, the point of the survey is to determine which loading indicator is most effective at making load times feel shorter.
<ul>
    <li><a href="/survey/start">Start the survey</a></li>
    {#<li><a href="/rankings/">View the rankings</a></li>#}
</ul>
{% endblock %}
