{% extends "base.html" %}

{% block content %}
<iframe src="{{ page.url }}"></iframe>
<div class="bottom">
    <form method="POST" action="/survey/logscore/">
        <input name="page_id" type="hidden" value="{{ page.id }}" />
        {% for factor in factors %}
            <div>
                {{ factor.name }}:
                <input type="text" name="factor_{{ factor.name }}" />
            </div>
        {% endfor %}
        <div><input type="submit" value="Next" /></div>
    </form>
</div>
{% endblock %}
